
.vs/GuiTestC/v16/Browse.VC.db
.vs/GuiTestC/v16/Browse.VC.db-shm
.vs/GuiTestC/v16/Browse.VC.db-wal
.vs/GuiTestC/v16/Browse.VC.opendb
GuiTestC.vcxproj
GuiTestC.vcxproj.filters
GuiTestC.vcxproj.user
.vs/GuiTestC/v16/ipch/AutoPCH/1291ec22f8d62cab/HELLOWORLDDESKTOPAPP.ipch
.vs/GuiTestC/v16/.suo
Debug/GuiTestC.log
Debug/GuiTestC.tlog/CL.command.1.tlog
Debug/GuiTestC.tlog/GuiTestC.lastbuildstate
Debug/GuiTestC.tlog/unsuccessfulbuild
Debug/vc142.idb
Debug/vc142.pdb
Debug/HelloWorldDesktopApp.obj
Debug/GuiTestC.vcxproj.FileListAbsolute.txt
Debug/GuiTestC.tlog/link.write.1.tlog
Debug/GuiTestC.tlog/link.read.1.tlog
Debug/GuiTestC.tlog/link.command.1.tlog
Debug/GuiTestC.tlog/CL.write.1.tlog
Debug/GuiTestC.tlog/CL.read.1.tlog
Debug/GuiTestC.pdb
Debug/GuiTestC.ilk
Debug/GuiTestC.exe.recipe
Debug/GuiTestC.exe
.vs/GuiTestC/v16/ipch/AutoPCH/70824bf4f9b94369/HELLOWORLDDESKTOPAPP.ipch
